@charset "UTF-8";
/* CSS Document */

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
	
a {
	text-decoration: none;
}

article a {
	color:#606;
	cursor:pointer;
}

article {
	background-color: #fff;
	border: solid 1px #fdd;
	border-radius:10px;
	margin-bottom:0px;
	margin-top:10px;
	padding:15px;
	padding-bottom:5px;
	opacity:1;
	overflow:hidden;
	position: relative;
	text-align: justify;
}

article h3 {
	padding-bottom:5px;
}

article img.small {
	width:150px;
	max-height:150px;
	float:left;
	margin-right:15px;
	margin-bottom:10px;
	-webkit-transition: all 333ms ease-out;
	-moz-transition: all 333ms ease-out;
	-o-transition: all 333ms ease-out;
	-ms-transition: all 333ms ease-out;
	transition: all 333ms ease-out;
}

article p {
	margin:0;
	margin-top:5px;
}

aside {
	color:#606;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	right:0;
}

aside.hashtags {
	background: #fee;
	border:solid 1px #fdd;
	border-bottom-left-radius:10px;
	border-top-right-radius:10px;
	border-right:none;
	border-top:none;
	position:absolute;
	top:0;
}

aside.expand {
	position: relative;
	text-align:right;
	margin-bottom:-5px;
	padding-right:0;
	z-index: 2;
}

body {
	background:#fed;
	font-family: Arial, Segoe, "Segoe UI", Verdana, "sans-serif";
	margin: 0;
	font-size:16px;
	line-height: 1.33;
}

footer {
	border-top: solid 1px #fcf;
	color:#606;
	font-family: Consolas, "Andale Mono", Monaco, "monospace";
	padding:10px;
	text-align: center;
}

footer a {
	color:#606;
	font-weight:bold;
}

form {
	height:0;
	opacity:0;
	-webkit-transition: all 333ms ease-out;
	-moz-transition: all 333ms ease-out;
	-o-transition: all 333ms ease-out;
	-ms-transition: all 333ms ease-out;
	transition: all 333ms ease-out;
	visibility: collapse;
	width:100%;
}

form h2 {
	
	margin:0;
	padding-left:5px;
	text-align: center;
}

form input {
	height:30px;
	font-size:16px;
	padding-left:5px;
	padding-right:5px;
	width:100%;
}

form table {
	width:100%;
	-webkit-transition: all 333ms ease-out;
	-moz-transition: all 333ms ease-out;
	-o-transition: all 333ms ease-out;
	-ms-transition: all 333ms ease-out;
	transition: all 333ms ease-out;
}

form textarea {
	font-size:16px;
	line-height: 1.33;
	padding:10px;
	width:100%;
}

form td {padding-top:5px;}

form input[type='submit'] {
	background:#090;
	color:#cfc;
	height:35px;
}


h1 {
	color: #a06;
	font-family: Constantia, "Lucida Bright", Georgia, "serif";
	text-transform:uppercase;
	padding-bottom:35px;
}

h2 {font-family: Consolas, "Andale Mono", Monaco, "monospace";}

h3 {
	color:#a06;
	margin-bottom:0;
}

h4 {
	margin:0;
}

header article {
	margin-bottom:15px;
	margin-top:15px;
	position:relative;
	-webkit-transition: all 333ms ease-out;
	-moz-transition: all 333ms ease-out;
	-o-transition: all 333ms ease-out;
	-ms-transition: all 333ms ease-out;
	transition: all 333ms ease-out;
}

header input#info:not(:checked) ~ article input#contact:checked ~ form {
	height:310px;
	opacity:1;
	position: relative;
	top:-20px;
	visibility:visible;
	display:inline-block;
	-webkit-transition: all 333ms ease-out;
	-moz-transition: all 333ms ease-out;
	-o-transition: all 333ms ease-out;
	-ms-transition: all 333ms ease-out;
	transition: all 333ms ease-out;
}

header input#info:checked ~ article {
	margin-top:0;
	margin-bottom:3px;
	opacity:0;
	padding-top:0;
	padding-bottom:0;
	-webkit-transition: all 333ms ease-out;
	-moz-transition: all 333ms ease-out;
	-o-transition: all 333ms ease-out;
	-ms-transition: all 333ms ease-out;
	transition: all 333ms ease-out;
	visibility: collapse;
}

header input#info:checked ~ article p {padding-bottom:0px;}

header input#info:checked ~ article aside {display:none;}

header input#info:checked ~ article img {
	max-height:0;
	-webkit-transition: all 333ms ease-out;
	-moz-transition: all 333ms ease-out;
	-o-transition: all 333ms ease-out;
	-ms-transition: all 333ms ease-out;
	transition: all 333ms ease-out;
	width:150px;
}

header input#info:checked ~ article p {
	line-height: 0;
	-webkit-transition: all 333ms ease-out;
	-moz-transition: all 333ms ease-out;
	-o-transition: all 333ms ease-out;
	-ms-transition: all 333ms ease-out;
	transition: all 333ms ease-out;
}


header label {cursor:pointer;}

header li {
	background:#fd9;
	height:37px;
	padding:10px;
}

header li.menu {
	border-right:solid 3px #f9f3ff;
	margin-right:-3px;
}

header li.side {
	border-left:solid 3px #f9f3ff;
}

header li.side img {
	margin-top:-3px;
}

header p {
	line-height: 1.33;
	-webkit-transition: all 333ms ease-out;
	-moz-transition: all 333ms ease-out;
	-o-transition: all 333ms ease-out;
	-ms-transition: all 333ms ease-out;
	transition: all 333ms ease-out;
}

header ul {
	background:#edc;
	border-top:solid 2px #a06;
	color:#606;
	margin-bottom:0;
	position:relative;
	text-shadow: 0 0 1px #fd6;
	z-index:1;
}

iframe, .player {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
	visibility: hidden;
    width: 100%;
	z-index:1;
}

img {width:100%;}

img.icon {
	height:24px;
	width:auto;
}

input#username, button#validate, button#canceler{display:none;}

input[type="radio"], input[type="checkbox"] {display:none;}

li {
	display:inline-flex;
	font-size: smaller;
  	font-weight: bold;
	letter-spacing: 0.5px;
	list-style-type: none;
}

nav {
	background-color:#a06;
    height:43px;
	position:fixed;
	width:100%;
	z-index:2;
}

nav a, nav label {
	color:#fff;
	text-shadow: 0 0 2px #000;
}

nav img#logo {
	float:left;
	width:35px;
	margin:4px;
	margin-left:10px;
}

nav img.icon {
	position: relative;
	top:10px;
	z-index:3;
	cursor:pointer;
}

nav input#lang + label img.icon {
	left:-10px;
	float:right;
}

nav li {
	margin-top:11px;
	padding:3px;
	padding-bottom:5px;
}

nav li div.down {
	position:absolute;
	top:32px;
	background:#a06;
	padding:7px;
	margin-left:-8px;
	display:none;
}

nav li input#sign:checked ~ div.down {display:block;}

nav li div.down input {
	display:block;
	margin-bottom:7px;
}

nav li.left {
	padding-left:4px;
	padding-right:5px;
}

nav li.menu {
	border-left: solid 1px #fc0;
	padding-right:7px;
	padding-left:8px;;
	position:relative;
	z-index:1;
}

nav li.menu img{
	top:-4px;
	margin-right:5px;
	float:left;
}

nav li.side {
	background:rgba(170,0,102,0.8);
	opacity:1;
	top:-11px;
	padding:12px;
	padding-top:14px;
	position:relative;
	transform: translateX(0);
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	min-width: 1px;
}
nav li.side span {
	background-color:#a06;
    border-radius: 4px;
	padding:6px;
	padding-left:7px;
	position:absolute;
	right:9px;
	top:8px;
}

nav li:not(#here):not(:hover) label,
nav li:not(#here):not(:hover) span {opacity:.9;}

nav input#lang:checked ~ .side {
	opacity:0;
	overflow:hidden;
	transform: translateX(20px);
	width: 0;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
} 

nav input#lang + label img:not(:hover) {opacity:0.9;}

section {
	display:none;
	position:relative;
}

ul {padding-left:0px;}

#tab1:checked ~ header label:not(.content1) li:hover,
#tab2:checked ~ header label:not(.content2) li:hover,
#tab3:checked ~ header label:not(.content3) li:hover,
#tab4:checked ~ header label:not(.content4) li:hover {background:#fc6;}

#tab1:checked ~ header label.content1 li,
#tab2:checked ~ header label.content2 li,
#tab3:checked ~ header label.content3 li,
#tab4:checked ~ header label.content4 li {
	background:#fc0;
	color:#303;
}

#tab1:checked ~ section#content1,
#tab2:checked ~ section#content2,
#tab3:checked ~ section#content3,
#tab4:checked ~ section#content4 {display: block;}

#tv {
	background:#fc0;
	margin-bottom:43px;
	padding-bottom:56.25%;
	position:relative;
	top:43px;
	width:100%;
}

.centered {
	position:absolute;
	left:50%;
	padding-top:37px;
	top:50%;
	transform: translate(-50%,-50%);
	text-align: center;
	width:83%;
}

.main {
	background:#f9f6ff;
	padding-bottom:15px;
}

.side {float:right;}

.sideline {
	margin:auto;
	max-width:960px;
	width:100%;
}

@media only screen and (max-width: 35em) {
	article img.small { width:auto;
		width:50px;
		margin-bottom:0px;
	}
	header input#info:checked ~ article img { width:auto;
		width:50px;
	}
	.main {
	}
}