@charset "UTF-8";
/* CSS Document */

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
	
a {
	text-decoration: none;
}

article a {
	color:#606;
	cursor:pointer;
}

article {
	background-color: #fff;
	border: solid 1px #fdd;
	border-radius:10px;
	margin-bottom:0px;
	margin-top:10px;
	padding:15px;
	padding-bottom:5px;
	opacity:1;
	overflow:hidden;
	position: relative;
	text-align: justify;
}

article h3 {
	padding-bottom:5px;
}

article input#contact ~ form {
	height:0;
	opacity:0;
	-webkit-transition: all 333ms ease-out;
	-moz-transition: all 333ms ease-out;
	-o-transition: all 333ms ease-out;
	-ms-transition: all 333ms ease-out;
	transition: all 333ms ease-out;
	width:100%;
}

article input#contact:checked ~ form {
	height:310px;
	opacity:1;
	position: relative;
	top:-20px;
	display:inline-block;
	-webkit-transition: all 333ms ease-out;
	-moz-transition: all 333ms ease-out;
	-o-transition: all 333ms ease-out;
	-ms-transition: all 333ms ease-out;
	transition: all 333ms ease-out;
}

article p {
	margin:0;
	margin-top:5px;
}

aside {
	color:#606;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	right:0;
}

aside.expand {
	position: relative;
	text-align:right;
	margin-bottom:-5px;
	padding-right:0;
	z-index: 2;
}

body {
	background:#fed;
	font-family: Arial, Segoe, "Segoe UI", Verdana, "sans-serif";
	margin: 0;
	font-size:16px;
	line-height: 1.33;
}

div.background {
	background:#fcf9ff;
	padding-bottom:15px;
}

div.details {
	width:100%;
	display: flex;
	margin-bottom: 10px;
}

div.details button {
	background:#6c3;
	color:#060;
	cursor:pointer;
	font-weight: bold;
	font-size: larger;
	margin-right:5px;
	width:75px;
 	-webkit-appearance: none;
}

div.details button.kill {
	background:#c63;
	color:#600;
}

div.details input {
	margin-right:10px;
	padding:10px;
	flex: 1;
}

div.details label {
	color:#a06;
	font-weight: bold;
	font-size: smaller;
	line-height: 1.33;
	padding:10px;
	text-align: right;
	width:75px;
}

div#map {
	height:100%;
	position: absolute;
	width:100%;
}

div#media-scan,
div#media-found {
	padding:12px;
}

div#profile {
	height:180px;
}

div#media-scan {
	height:65px;
}

div#media-found {
	height:410px;
}

div#profile,
div#media-found,
div#media-scan {
	background:#fff0f0;
	margin-bottom:10px;
	margin-top:-10px;
	position: relative;
	-webkit-transition: all 333ms ease-out;
	-moz-transition: all 333ms ease-out;
	-o-transition: all 333ms ease-out;
	-ms-transition: all 333ms ease-out;
	transition: all 333ms ease-out;
}

div#profile div#usercard {
	display:inline-block;
	position:relative;
	width:100%;
}

div#profile form {
	float:left;
	width:45%;
	padding-left:12px;
}

div#profile form input {
	background:linear-gradient(to right, #fee 33%, transparent);
	color:#a06;
}

img#switch {
	position:absolute;
	right:0;
	bottom:0;
	width:auto;
	height:33px;
	margin-right:18px;
	margin-bottom:-4px;
}

div#profile object {
	position:absolute;
	right:0;
}

div#profile object#avatar {
	width:auto;
	height:150px;
	margin-right:12px;
}

footer {
	border-top: solid 1px #fcf;
	color:#606;
	font-family: Consolas, "Andale Mono", Monaco, "monospace";
	padding:10px;
	text-align: center;
}

footer a {
	color:#606;
	font-weight:bold;
}

form button {
	width:100%;
	height: 30px;
	font-size:16px;
}

form h2 {
	margin:0;
	padding-left:5px;
	text-align: center;
}

form input {
	height:30px;
	font-size:16px;
	padding-left:5px;
	padding-right:5px;
	width:100%;
}

form table {
	width:100%;
	-webkit-transition: all 333ms ease-out;
	-moz-transition: all 333ms ease-out;
	-o-transition: all 333ms ease-out;
	-ms-transition: all 333ms ease-out;
	transition: all 333ms ease-out;
}

form textarea {
	font-size:16px;
	line-height: 1.33;
	padding:10px;
	width:100%;
}

form td {padding-top:5px;}

form input[type='submit'] {
	background:#090;
	color:#cfc;
	height:35px;
}


h1 {
	color: #a06;
	font-family: Constantia, "Lucida Bright", Georgia, "serif";
	text-transform:uppercase;
	padding-bottom:35px;
}

h2 {font-family: Consolas, "Andale Mono", Monaco, "monospace";}

h3 {
	color:#a06;
	margin-bottom:0;
}

h4 {
	margin:0;
}

header article {
	margin-bottom:15px;
	margin-top:15px;
	position:relative;
	-webkit-transition: all 333ms ease-out;
	-moz-transition: all 333ms ease-out;
	-o-transition: all 333ms ease-out;
	-ms-transition: all 333ms ease-out;
	transition: all 333ms ease-out;
}

header input#info ~ div {
	margin-top:30px;
	margin-bottom:30px;
}

header input#info:checked ~ div {
	max-height:0;
	margin:0;
	opacity:0;
	-webkit-transition: all 333ms ease-out;
	-moz-transition: all 333ms ease-out;
	-o-transition: all 333ms ease-out;
	-ms-transition: all 333ms ease-out;
	transition: all 333ms ease-out;
}

header input#info:checked ~ div article img {
	max-height:0;
	-webkit-transition: all 333ms ease-out;
	-moz-transition: all 333ms ease-out;
	-o-transition: all 333ms ease-out;
	-ms-transition: all 333ms ease-out;
	transition: all 333ms ease-out;
	width:150px;
}

header input#info:checked ~ div article p {
	line-height: 0;
	-webkit-transition: all 167ms ease-out;
	-moz-transition: all 167ms ease-out;
	-o-transition: all 167ms ease-out;
	-ms-transition: all 167ms ease-out;
	transition: all 167ms ease-out;
}


header label {cursor:pointer;}

header li {
	background:#fd9;
	height:37px;
	padding:10px;
}

header li.side {
	border-left:solid 3px #f9f3ff;
}

header li.side img {
	margin-top:-3px;
}

header p {
	line-height: 1.33;
	-webkit-transition: all 333ms ease-out;
	-moz-transition: all 333ms ease-out;
	-o-transition: all 333ms ease-out;
	-ms-transition: all 333ms ease-out;
	transition: all 333ms ease-out;
}

header ul {
	background:#edc;
	border-top:solid 2px #a06;
	color:#606;
	margin-bottom:-15px;
	position:relative;
	text-shadow: 0 0 1px #fd6;
	z-index:1;
}

header.controls {
	border:solid 1px #fdd;
	background:#fee;
	height:45px;
	margin-bottom:10px;
	margin-top:-10px;
	position:relative;
}

header.controls div {
	display:flex;
    flex-direction: row;
	width:100%;
}

header.controls div .left {
	line-height:1.5;
	margin-right:20px;
	padding:10px;
	width:150px;
}

header.controls div .left img{
	float:left;
	margin-right:10px;
}

header.controls div .main {
	flex:1;
	margin-right:20px;
	padding:10px;
}

header.controls div .right {
	width: 150px;
}

header.controls span {
	background: #fff;
	border:solid 1px #fdd;
	border-radius:3px;
	font-size:.8em;
	height:auto;
	position: absolute;
	right:4px;
	text-align: left;
	z-index: 1;
	top:4px;
}

#header1.controls span,
#header2.controls span,
#header3.controls span {
	z-index: 2;
}

header.controls span label {
	background: #fff;
	display: block;
	padding:8px;
}

header.controls span label:focus,
header.controls span label:hover {
	background: #cef;
}

header.controls .infos {
	font-weight: bold;
	left:10px;
	position: relative;
	top:10px;
}

iframe, .player {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
	visibility: hidden;
    width: 100%;
	z-index:1;
}

img { width:100%; }

img.icon {
	height:24px;
	width:auto;
}

input[type="radio"], input[type="checkbox"] {display:none;}

input#new-media:not(:checked) ~ div#media-found,
input#media-details:not(:checked) ~ div#media-found,
input#new-media:not(:checked) ~ div#media-scan,
input#user:not(:checked) ~ div#profile { 
	height:0;
	opacity:0;
	margin:0; }

input#new-media:not(:checked) ~ div#media-scan {
	margin-bottom: -24px;
}

input#new-media:not(:checked) ~ div#media-found,
input#media-details:not(:checked) ~ div#media-found {
	margin-bottom: -34px;
}

input#sign:checked ~ .down { display:block; }

li {
	display:inline-flex;
	font-size: smaller;
  	font-weight: bold;
	letter-spacing: 0.5px;
	list-style-type: none;
}

nav {
	background-color:#a06;
    height:43px;
	position:fixed;
	width:100%;
	z-index:3;
}

nav a, nav label {
	color:#fff;
	text-shadow: 0 0 2px #000;
}

nav div.right {
	float:right;
}

nav img#logo {
	float:left;
	width:35px;
	margin:4px;
	margin-left:10px;
}

nav img.icon {
	position: relative;
	top:10px;
	z-index:4;
	cursor:pointer;
}

nav input + label img.icon {
	left:15px;
	margin-left:5px;
}

nav input + label img:not(:hover) {opacity:0.9;}

nav input#lang ~ .side {
	right:60px;
}

nav input#lang:checked ~ .side {
	opacity:0;
	overflow:hidden;
	transform: translateX(20px);
	width: 0;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}

nav input#more ~ .down { 
	background: rgba(170,0,102,0.67);
	padding:10px;
	padding-left:18px;
	padding-right:18px;
	position: absolute;
	margin-right:-20px;
	top:32px;
}

nav input#more:checked ~ .down {
	opacity:0;
	overflow:hidden;
	width: 0;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}

nav li {
	margin-top:11px;
	padding:3px;
	padding-bottom:5px;
}

nav li input { width:100%; }

nav li.left {
	padding-left:4px;
	padding-right:5px;
}

nav li.menu {
	border-left: solid 1px #fc0;
	margin-right:-3px;
	padding-left:8px;
	padding-right:7px;
	position:relative;
	z-index:1;
}

nav li.side {
	background:rgba(170,0,102,0.8);
	opacity:1;
	top:-11px;
	padding:12px;
	padding-top:14px;
	position:relative;
	transform: translateX(0);
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	min-width: 1px;
}
nav li.side span {
	background-color:#a06;
    border-radius: 4px;
	padding:6px;
	padding-left:7px;
	position:absolute;
	right:9px;
	top:8px;
}

nav li:not(#here):not(:hover) label,
nav li:not(#here):not(:hover) span {opacity:.9;}

section {
	display:none;
	position:relative;
}

ul { padding-left:0px; }

#media-chan {
	position: absolute;
	top:0;
	font-weight: bold;
	text-transform: uppercase;
}

#tab1:checked ~ header label:not(.content1) li:hover,
#tab2:checked ~ header label:not(.content2) li:hover,
#tab3:checked ~ header label:not(.content3) li:hover {background:#fc6;}

#tab1:checked ~ header label.content1 li,
#tab2:checked ~ header label.content2 li,
#tab3:checked ~ header label.content3 li {
	background:#fc0;
	color:#303;
}

#tab1:checked ~ div #section1,
#tab2:checked ~ div #section2,
#tab3:checked ~ div #section3 {display: block;}

#tv {
	background:#fc0;
	margin-bottom:43px;
	padding-bottom:56.25%;
	position:relative;
	top:43px;
	width:100%;
}

.centered {
	position:absolute;
	left:50%;
	padding-top:37px;
	top:50%;
	transform: translate(-50%,-50%);
	text-align: center;
	width:83%;
}

.side {float:right;}

.sideline {
	margin:auto;
	max-width:960px;
	width:100%;
}

@media only screen and (max-width: 35em) {
	header input#info:checked ~ article img { width:auto;
		width:50px;
	}
}