@charset "UTF-8";
/* CSS Document */

header.controls div .down {
	background:#fed;
	border-bottom:solid 1px #fdd;
	border-left:solid 1px #fdd;
	border-right:solid 1px #fdd;
	display:none;
	margin-left:-11px;
	padding:7px;
	position:absolute;
	top:32px;
	width:200px;
	z-index:2;
}

header.controls div .down .button {
 	-webkit-appearance: none;
}


header.controls div .down button,
header.controls div .down input {
	padding:5px;
}

header.controls div .down input {
	margin-bottom:5px;
}