@charset "UTF-8";
/* CSS Document */

article a {
	color:#606;
	cursor:pointer;
}

article {
	background-color: #fff;
	border: solid 1px #fdd;
	border-radius:10px;
	margin-bottom:0px;
	margin-top:10px;
	padding:15px;
	padding-bottom:5px;
	opacity:1;
	overflow:hidden;
	position: relative;
	text-align: justify;
}

article h3 {
	padding-bottom:5px;
}

article img.small {
	width:150px;
	max-height:150px;
	float:left;
	margin-right:15px;
	margin-bottom:10px;
	-webkit-transition: all 333ms ease-out;
	-moz-transition: all 333ms ease-out;
	-o-transition: all 333ms ease-out;
	-ms-transition: all 333ms ease-out;
	transition: all 333ms ease-out;
}

article p {
	margin:0;
	margin-top:5px;
}

aside {
	color:#606;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	right:0;
}

aside.hashtags {
	background: #fee;
	border:solid 1px #fdd;
	border-bottom-left-radius:10px;
	border-top-right-radius:10px;
	border-right:none;
	border-top:none;
	position:absolute;
	top:0;
}

aside.expand {
	position: relative;
	text-align:right;
	margin-bottom:-5px;
	padding-right:0;
	z-index: 2;
}

@media only screen and (max-width: 35em) {
	article img.small { width:auto;
		width:50px;
		margin-bottom:0px;
	}
}