@charset "UTF-8";
/* CSS Document */

.centered {
	position:absolute;
	left:50%;
	padding-top:37px;
	top:50%;
	transform: translate(-50%,-50%);
	text-align: center;
	width:83%;
}

.main {
	background:#f9f6ff;
	padding-bottom:15px;
}

.side {float:right;}

.sideline {
	margin:auto;
	max-width:960px;
	width:100%;
}

#tv {
	background:#fc0;
	margin-bottom:43px;
	padding-bottom:56.25%;
	position:relative;
	top:43px;
	width:100%;
}