@charset "UTF-8";
/* CSS Document */

input[type="radio"], input[type="checkbox"] {display:none;}

header input#info:not(:checked) ~ article input#contact:checked ~ form {
	height:310px;
	opacity:1;
	position: relative;
	top:-20px;
	visibility:visible;
	display:inline-block;
	-webkit-transition: all 333ms ease-out;
	-moz-transition: all 333ms ease-out;
	-o-transition: all 333ms ease-out;
	-ms-transition: all 333ms ease-out;
	transition: all 333ms ease-out;
}

header input#info:checked ~ article {
	margin-top:0;
	margin-bottom:3px;
	opacity:0;
	padding-top:0;
	padding-bottom:0;
	-webkit-transition: all 333ms ease-out;
	-moz-transition: all 333ms ease-out;
	-o-transition: all 333ms ease-out;
	-ms-transition: all 333ms ease-out;
	transition: all 333ms ease-out;
	visibility: collapse;
}


header input#info:checked ~ article p {padding-bottom:0px;}

header input#info:checked ~ article aside {display:none;}

header input#info:checked ~ article img {
	max-height:0;
	-webkit-transition: all 333ms ease-out;
	-moz-transition: all 333ms ease-out;
	-o-transition: all 333ms ease-out;
	-ms-transition: all 333ms ease-out;
	transition: all 333ms ease-out;
	width:150px;
}

header input#info:checked ~ article p {
	line-height: 0;
	-webkit-transition: all 333ms ease-out;
	-moz-transition: all 333ms ease-out;
	-o-transition: all 333ms ease-out;
	-ms-transition: all 333ms ease-out;
	transition: all 333ms ease-out;
}

nav li:not(#here):not(:hover) label,
nav li:not(#here):not(:hover) span {opacity:.9;}

nav input#lang:checked ~ .side {
	opacity:0;
	overflow:hidden;
	transform: translateX(20px);
	width: 0;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
} 

nav input#lang + label img:not(:hover) {opacity:0.9;}

#tab1:checked ~ header label:not(.content1) li:hover,
#tab2:checked ~ header label:not(.content2) li:hover,
#tab3:checked ~ header label:not(.content3) li:hover,
#tab4:checked ~ header label:not(.content4) li:hover {background:#fc6;}

#tab1:checked ~ header label.content1 li,
#tab2:checked ~ header label.content2 li,
#tab3:checked ~ header label.content3 li,
#tab4:checked ~ header label.content4 li {
	background:#fc0;
	color:#303;
}

#tab1:checked ~ section#content1,
#tab2:checked ~ section#content2,
#tab3:checked ~ section#content3,
#tab4:checked ~ section#content4 {display: block;}

@media only screen and (max-width: 35em) {
	header input#info:checked ~ article img { width:auto;
		width:50px;
	}
}