@charset "UTF-8";
/* CSS Document */

footer {
	border-top: solid 1px #fcf;
	color:#606;
	font-family: Consolas, "Andale Mono", Monaco, "monospace";
	padding:10px;
	text-align: center;
}

footer a {
	color:#606;
	font-weight:bold;
}