@charset "UTF-8";
/* CSS Document */

header article {
	margin-bottom:15px;
	margin-top:15px;
	position:relative;
	-webkit-transition: all 333ms ease-out;
	-moz-transition: all 333ms ease-out;
	-o-transition: all 333ms ease-out;
	-ms-transition: all 333ms ease-out;
	transition: all 333ms ease-out;
}

header label {cursor:pointer;}

header li {
	background:#fd9;
	height:37px;
	padding:10px;
}

header li.menu {
	border-right:solid 3px #f9f3ff;
	margin-right:-3px;
}

header li.side {
	border-left:solid 3px #f9f3ff;
}

header li.side img {
	margin-top:-3px;
}

header p {
	line-height: 1.33;
	-webkit-transition: all 333ms ease-out;
	-moz-transition: all 333ms ease-out;
	-o-transition: all 333ms ease-out;
	-ms-transition: all 333ms ease-out;
	transition: all 333ms ease-out;
}

header ul {
	background:#edc;
	border-top:solid 2px #a06;
	color:#606;
	margin-bottom:0;
	position:relative;
	text-shadow: 0 0 1px #fd6;
	z-index:1;
}

nav {
	background-color:#a06;
    height:43px;
	position:fixed;
	width:100%;
	z-index:2;
}

nav a, nav label {
	color:#fff;
	text-shadow: 0 0 2px #000;
}

nav img#logo {
	float:left;
	width:35px;
	margin:4px;
	margin-left:10px;
}

nav img.icon {
	position: relative;
	top:10px;
	z-index:3;
	cursor:pointer;
}

nav input#lang + label img.icon {
	left:-10px;
	float:right;
}

nav li {
	margin-top:11px;
	padding:3px;
	padding-bottom:5px;
}

nav li div.down {
	position:absolute;
	top:32px;
	background:#a06;
	padding:7px;
	margin-left:-8px;
	display:none;
}

nav li input#sign:checked ~ div.down {display:block;}

nav li div.down input {
	display:block;
	margin-bottom:7px;
}

nav li.left {
	padding-left:4px;
	padding-right:5px;
}

nav li.menu {
	border-left: solid 1px #fc0;
	padding-right:7px;
	padding-left:8px;;
	position:relative;
	z-index:1;
}

nav li.menu img{
	top:-4px;
	margin-right:5px;
	float:left;
}

nav li.side {
	background:rgba(170,0,102,0.8);
	opacity:1;
	top:-11px;
	padding:12px;
	padding-top:14px;
	position:relative;
	transform: translateX(0);
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	min-width: 1px;
}
nav li.side span {
	background-color:#a06;
    border-radius: 4px;
	padding:6px;
	padding-left:7px;
	position:absolute;
	right:9px;
	top:8px;
}